* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;;
}
.container {
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.menu {
    display: flex;
    flex-direction: row;
}

.menu ul{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style-type: none;
    margin-left: 4rem;
}

img {
    transition: transform 0.5s ease;
}
img:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
    text-decoration: none;
}

.cart-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    float: right;
}
a:hover {
    text-decoration: underline;

}

.cart {
    cursor: pointer;
}

.avatar {
    width: 2.5rem;
    cursor: pointer;
}
.avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.grid-container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    gap: 5rem;
    
}
img{
    border-radius: 5px;
}
.img-1{
    width: 100%;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}
.thumbnails img {
    height: 100px;
    width: 100px;
}